body{
	background:silver!important;
}
.nav-primary{
	background:#009688!important;
}
.banner{
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/women.webp);
	background-size:cover;
	height:90vh;
	width:100%;
	color:lavenderblush;
}
.restrict{
	width:2%;
}
.navtool{
	z-index:99999;
}
.card-body{
	padding:40px;
	background:white;
}

.sidebar{
	width:18%;
	height:100%;
	background:white;
	position:fixed;
	padding-top:45px;
	z-index:9999;
}

.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	color:gray;
}
.sidebar a:hover{
	color:#004080;
}
.sidebar .divider{
	height:.5px;
	width:100%;
	background:#e2e2e2;
	margin-top:15px;
}

@media only screen and (max-width:600px){
	.sidebar{
	display:none;
	width:80%!important;
	background:white;
	height:100vh;
	padding-top:20px;
	}
	.content{
	margin-left:0%!important;
	}
}
.sidebar .crossBtn{
	position:absolute;
	top:0;
	right:33px;
	font-size:36px;
	cursor:pointer;
}

.content{
	margin-left:18%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 1140px) {
  th, td {
    text-align:center;
  }
}
@media screen and (max-width: 1140px) {
  th, td {
    display: block;
  }
  
  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }
  
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 8px;
    font-weight: bold;
  }
}


.my_profile_picture{
	width: 45px; 
	height: 45px;
	border-radius : 50%;
	object-fit: cover;
	/*border: 1px solid #008080; */
}

.search-container{
	position:relative;
}

.search-result{
	position:absolute;
	background:white;
	border:1px solid gray;
	padding:10px;
	width:100%;
	display:none;
	
}

.active{
	background: #009688!important;
	color: white!important;
}