<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Verify OTP</title>
</head>
<body>
	<section class="vh-80" style="background-color: grey;">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
				
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="verify-OTP form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            
            <div class="col-md-6 col-lg-7 mt-5 align-items-center text-center">
			<h3 class="mt-5">Enter Recieved OTP:</h3>

			<div th:if="${session.message11}" th:classappend="${session.message11.type}" 
			class="alert text-center" role="alert">
			<h3><p th:text="${session.message11.content}"/></h3>
			<!--<th:block th:text="${#session.removeAttribute('message')}" ></th:block>-->
			</div>
	
              <div class="card-body p-4 p-lg-5 text-black">

                <form th:action="@{/verify-OTP}" th:method="post">
				<div class="container form-group">
				<input type="number" class="form-control" name="OTP" required placeholder="Enter OTP">
					</div>
				<div class="container mt-5">
				<button type="submit" class="btn btn-outline-success">Verify OTP</button>
				</div>
                </form>
                
                <form th:action="@{/send-OTP}" th:method="post">
				<div class="container form-group mt-4">
				<input type="hidden" class="form-control" name="email" th:value="' '+${session.sessionEmail}+' '" required placeholder="Enter email">
                <button type="submit" class="small text-muted btn btn-link">Resend OTP</button>
				</div>
				</form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>